.git
.github
.gitignore
.gitattributes
.editorconfig
.idea
.phpstorm.meta.php
.ddev
.tinker
.env
.env.example
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
phpunit.xml
README.md
docker-compose.prod.yml
*.md
